Hi there, please edit pokemon <%=@pokemon.id%>

<%=form_with scope: :pokemon, url: pokemons_path, local: true do |form| %>

<p>
	<%=form.label :num%>
	<%=form.text_field :num%>
</p>

<p>
	<%=form.label :name%>
	<%=form.text_field :name%>
</p>

<p>
	<%=form.label :height%>
	<%=form.text_field :height%>
</p>

<p>
	<%=form.label :weight%>
	<%=form.text_field :weight%>
</p>

<p>
	<%= form.submit "Edit Pokemon" %>
</p>

<% end %>

<%= link_to 'Delete Pokemon', { action: :destroy, id: @pokemon.id }, 
	method: :delete,
	data: { confirm: 'Are you Sure?' }
%>

